name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '25'
          cache: maven

      - name: Build
        run: mvn --batch-mode -DskipTests clean package

      - name: Test
        run: mvn --batch-mode -Dmaven.test.failure.ignore=true test

      - name: Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Test Report
          path: target/surefire-reports/TEST-*.xml
          reporter: java-junit
          fail-on-error: true